{% extends 'index.html' %}
{% load cms_tags static sekizai_tags menu_tags %}
{% block title %}Página não encontrada{% endblock title %}

{% block principal %}
    <section class="section-404">
        <div class="right-side">
            <img src="{% static 'assets/images/404.webp' %}" alt="Parte de baixo de um biquíni Bela Marca" loading="lazy">
        </div>
        <div class="left-side">
            <h1 class="right-title">Erro 404</h1>
            <p>Parece que a página que você está procurando não existe ou não está habilitada.</p>
            <a href="/">
                <button href="/">Voltar para o Início</button>
            </a>
        </div>
    </section>
{% endblock principal %}