{% extends 'index.html' %}
{% load cms_tags static sekizai_tags menu_tags %}
{% block title %}Página não encontrada{% endblock title %}

{% block principal %}
    <section class="section-404">
        <div>
            <h1 class="orange-title">Oooops!</h1>
            <img src="{% static 'assets/images/characters/guardian-ale-pose-2.jpg' %}" alt="Guardião Ale" loading="lazy">
        </div>
        <div>
            <h1 class="blue-title">Erro 404</h1>
            <p>Parece que a página que você está procurando não existe ou não está habilitada.</p>
            <a href="/">
                <button href="/">Voltar</button>
            </a>
        </div>
    </section>
{% endblock principal %}