<!DOCTYPE html>

{% load static i18n cms_tags sekizai_tags menu_tags %}
{% load render_bundle from webpack_loader %}
{% load seo_tags %}
{% render_bundle 'main' %}

<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Danti Paradise">
        <meta http-equiv="Content-Type" content="text/html; charset = UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{% static 'assets/favicon/favicon.ico'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
        {% render_block "css" %}

        {% with seo_tags=request|seo_tags %}
            {% if seo_tags != False %}
                <meta name="description" content="{{ seo_tags.google_description }}"/>
                <meta property="og:site_name" content="{{ seo_tags.social_media_site_name }}" />
                <meta property="og:type" content="{{ seo_tags.social_media_type }}" />
                <meta property="og:title" content="{{ seo_tags.social_media_title }}" />
                <link rel="canonical" href="{{ seo_tags.current_url }}">
                <meta property="og:url" content="{{ seo_tags.current_url }}" />
                <meta property="og:description"content="{{ seo_tags.social_media_description }}" />
                <meta property="og:image" content="{{ seo_tags.social_media_image }}" />
                <meta name="twitter:title" content="{{ seo_tags.social_media_title }}" />
                <meta name="twitter:description" content="{{ seo_tags.social_media_description }}" />
                <meta name="twitter:card" content="site" />
                <meta name="twitter:site" content="summary" />
                <meta name="twitter:image" content="{{ seo_tags.social_media_image }}" />
                <script type="application/ld+json">
                    {
                        "@context": "https://schema.org",
                        "@type": "{{ seo_tags.google_type }}",
                        "name": "{{ seo_tags.google_name }}",
                        "alternateName": "{{ seo_tags.google_alterantive_name }}",
                        "description": "{{ seo_tags.google_description }}",
                        "url": "{{ seo_tags.current_url }}",
                        "logo": "{{ seo_tags.google_logo }}",
                        "telephone": "{{ seo_tags.google_telephone }}",
                        "address":{
                            "@type": "{{ seo_tags.google_address_type }}",
                            "streetAddress": "{{ seo_tags.google_address_street }}",
                            "addressLocality": "{{ seo_tags.google_address_locality }}",
                            "addressRegion":"{{ seo_tags.google_address_region }}"
                        },
                        "sameAs": [
                            "{{ seo_tags.google_social_media_facebook }}",
                            "{{ seo_tags.google_social_media_instagram }}",
                            "{{ seo_tags.google_social_media_youtube }}",
                            "{{ seo_tags.google_social_media_tiktok }}"
                        ]
                    }
                </script>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        {% cms_toolbar %}

        {% block header %}
            {% static_placeholder "header" %}
        {% endblock header %}

        <main>
            {% block principal %}
                {% placeholder "principal" %}
            {% endblock principal %}

            {% block secundario %}
                {% placeholder "secundario" %}
            {% endblock secundario %}
        </main>

        {% block footer %}
            {% static_placeholder "footer" %}
        {% endblock footer %}

        <div class="modal-default" id="contact_return_message">
            <div class="modal-default-container">
                <h2 id="modal-title">Atenção</h2>
                <p id="return-message"></p>
                <button class="modal-btn">Entendi</button>
            </div>
        </div>

        {% render_block "js" %}

    </body>
</html>