:root {
    --dark-pink-belamarca: #F653A9;
    --pink-belamarca: #FDACBA;
    --blue-belamarca: #55CFC4;
    --orange-belamarca: #FDC3B8;
    --yellow-belamarca: #F4DDDA;
    --dark-text-belamarca: #484848;
    --light-text-belamarca: #FFFFFF;
    --placeholder-belamarca: #C4C4C4;
    --background-belamarca: #F9F9F9;
}

@font-face {
    font-family: "Marisa Bold";
    src: url('../fonts/Marisa-Bold.otf') format('opentype');
}

@font-face {
    font-family: "Marisa Light";
    src: url('../fonts/Marisa-Light.otf') format('opentype');
}

@font-face {
    font-family: "Marisa Medium";
    src: url('../fonts/Marisa-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Marisa';
    src: url('../fonts/Marisa.otf') format('opentype');
}

@font-face {
    font-family: 'Questrial Regular';
    src: url('../fonts/Questrial-Regular.otf') format('truetype');
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 6px var(--placeholder-belamarca);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--blue-belamarca);
    outline: 1px solid var(--blue-belamarca);
}

/* Classes para cores de texto*/

.text-dark-pink-belamarca{
    color: var(--dark-pink-belamarca) !important;
}

.text-pink-belamarca{
    color: var(--pink-belamarca) !important;
}

.text-blue-belamarca{
    color: var(--blue-belamarca) !important;
}

.text-orange-belamarca{
    color: var(--orange-belamarca) !important;
}

.text-yellow-belamarca{
    color: var(--yellow-belamarca) !important;
}

.text-dark-text-belamarca{
    color: var(--dark-text-belamarca) !important;
}

.text-light-text-belamarca{
    color: var(--light-text-belamarca) !important;
}

.dark-filter::before{
    background-color: rgba(0,0,0,0.3) !important;
}

.text-dark-pink-belamarca p{
    color: var(--dark-pink-belamarca) !important;
}

.text-pink-belamarca p{
    color: var(--pink-belamarca) !important;
}

.text-blue-belamarca p{
    color: var(--blue-belamarca) !important;
}

.text-orange-belamarca p{
    color: var(--orange-belamarca) !important;
}

.text-yellow-belamarca p{
    color: var(--yellow-belamarca) !important;
}

.text-dark-text-belamarca p{
    color: var(--dark-text-belamarca) !important;
}

.text-light-text-belamarca p{
    color: var(--light-text-belamarca) !important;
}

.dark-filter::before p{
    background-color: rgba(0,0,0,0.3) !important;
}

.withe-filter::before{
    background-color: rgba(255,255,255,0.4) !important;
}

/* 404 */

.section-404 {
    display: flex;
    flex-direction: row;
    padding: 5rem 10rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
    justify-content: space-evenly;
    max-width: 60vw;
    margin: 0 auto;
}

.section-404 div{
    padding-left: 5vw;
}

.section-404 img {
    max-height: 500px;
}

.section-404 .right-title {
    font-family: 'Marisa Bold';
    font-size: 3rem;
    color: var(--blue-belamarca);
    margin-bottom: 20px;
}

.section-404 p {
    width: 25rem;
    font-weight: normal;
    font-family: 'Questrial Regular';
    margin-bottom: 15px;
}

.section-404 button {
    text-align: center;
    letter-spacing: .02em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background-color: var(--blue-belamarca);
    border: solid 1px var(--blue-belamarca);
    border-radius: 80px;
    border: none;
    margin-top: 1rem;
    font-family: 'Questrial Regular';
    margin-bottom: 15px;
}

.section-404 button:hover {
    background-color: #ffffff;
    color: var(--dark-pink-belamarca);
    border: solid 1px var(--dark-pink-belamarca);
}

@media (max-width: 994px) {
    .section-404 {
        flex-direction: column;
        max-width: 80vw;
        padding: 5rem 0rem;
    }

    .section-404 div{
        padding-left: 0px;
        padding-right: 0px;
        max-width: 80vw;
    }

    .section-404 img {
        display: none;
        max-height: 500px;
    }

    .section-404 p {
        width: auto;
    }
}

/* CSS para animações */

.animation-container .animate-element {
    opacity: 0;
}

.animation-container-faster .animate-element-faster {
    opacity: 0;
}