{% load static cms_tags %}

<!-- ***** Services Area Starts ***** -->
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>{{ instance.first_title }}</h4>
                    <p>{{ instance.first_subtitle }}</p>
                    <picture>
                        <img class="img-generic" src="{{ first_image.desktop }}"  alt="{{ instance.first_text_alt }}"/>
                    </picture>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>{{ instance.second_title }}</h4>
                    <p>{{ instance.second_subtitle }}</p>
                    <picture>
                        <img class="img-generic" src="{{ second_image.desktop }}"  alt="{{ instance.second_text_alt }}"/>
                    </picture>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>{{ instance.third_title }}</h4>
                    <p>{{ instance.third_subtitle }}</p>
                    <picture>
                        <img class="img-generic" src="{{ third_image.desktop }}"  alt="{{ instance.third_text_alt }}"/>
                    </picture>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>{{ instance.fourth_title }}</h4>
                    <p>{{ instance.fourth_subtitle }}</p>
                    <picture>
                        <img class="img-generic" src="{{ fourth_image.desktop }}"  alt="{{ instance.fourth_text_alt }}"/>
                    </picture>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>{{ instance.fifth_title }}</h4>
                    <p>{{ instance.fifth_subtitle }}</p>
                    <picture>
                        <img class="img-generic" src="{{ fifth_image.desktop }}"  alt="{{ instance.fifth_text_alt }}"/>
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area Ends ***** -->