{% load static cms_tags %}

<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <picture>
                        <img class="img-generic" src="{{ left_image.desktop }}"  alt="{{ instance.left_text_alt }}" loading="lazy"/>
                    </picture>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>{{ instance.title }}</h4>
                    <p>{{ instance.subtitle }}</p>
                    <!--<ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->